/* reset */

*{							
	margin: 0 auto;			
	padding: 0 ;
	list-style: none;
	text-decoration: none;
	color: black;
	}

/* 공통클래스 */

:root{
	--abwidth : 1200px; /* A,B형 컨테이너 */
	--cwidth : 1000px; /* c형 컨테이너 */
}
.abs{position: absolute ;}
.rel{position: relative ;}
.d-flex{display: flex;}
.d-block{display: block ;}
.d-none{display: none;}
.container{width: 1200px; margin: 0 auto;}
.justify-content-between{justify-content: space-between;}
.align-center{align-items: center;}
.m-auto{margin: 0 auto;}
.w-100{width: 100px;}
.text-center{text-align: center;}
.b-top{border-top: 2px solid black;}
.b-bottom{border-bottom: 2px solid black;}